<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <abzer>
            <transactionreceipt>
                <active>1</active>
                <addchild>1</addchild>
                <moredetails>1</moredetails>
            </transactionreceipt>
            <transaction>
                <active>1</active>
            </transaction>
        </abzer>
        <payment>
            <free>
                <active>0</active>
            </free>
            <checkmo>
                <active>0</active>
            </checkmo>
            <purchaseorder>
                <active>0</active>
            </purchaseorder>
        </payment>
    </default>
</config>
