<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Define a preference for the OrderInterface, specifying the custom Order class implementation. -->
    <preference for="Maginium\OrderElasticIndexer\Interfaces\Data\OrderInterface" type="Maginium\OrderElasticIndexer\Models\Order" />

    <!-- Define a preference for the OrderRepositoryInterface, specifying the custom OrderRepository class implementation. -->
    <preference
        for="Maginium\OrderElasticIndexer\Interfaces\Repositories\OrderRepositoryInterface"
        type="Maginium\OrderElasticIndexer\Repositories\OrderRepository"
    />

    <!-- Define a preference for the OrderServiceInterface, specifying the custom OrderService class implementation. -->
    <preference
        for="Maginium\OrderElasticIndexer\Interfaces\Services\OrderServiceInterface"
        type="Maginium\OrderElasticIndexer\Services\OrderService"
    />

    <!-- Customizes the field mapping behavior for Elasticsearch. -->
    <type name="Magento\Elasticsearch\Model\Adapter\FieldMapperInterface">
        <arguments>
            <!-- Defines the array of field mappers for Elasticsearch indexing. -->
            <argument xsi:type="array" name="fieldMappers">
                <!-- Uses 'GenericFieldMapper' to define how the 'orders' field is indexed in Elasticsearch. -->
                <item xsi:type="string" name="orders">Maginium\ElasticIndexer\Adapter\GenericFieldMapper</item>
            </argument>
        </arguments>
    </type>

    <!-- Customizes the aggregation behavior for Elasticsearch. -->
    <type name="Magento\Elasticsearch\SearchAdapter\Aggregation\Builder">
        <arguments>
            <!-- Defines the container for data providers used in aggregations. -->
            <argument xsi:type="array" name="dataProviderContainer">
                <!-- Uses 'GenericAggregationDataProvider' to define custom aggregation logic for the 'orders' field. -->
                <item xsi:type="object" name="orders">Maginium\ElasticIndexer\Adapter\GenericAggregationDataProvider</item>
            </argument>
        </arguments>
    </type>
</config>
