<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Set preference for OrderServiceInterface to use OrderService implementation -->
    <preference for="Maginium\OrderApi\Interfaces\GetListInterface" type="Maginium\OrderApi\Actions\GetList" />

    <!-- Set preference for OrderServiceInterface to use OrderService implementation -->
    <preference for="Maginium\OrderApi\Interfaces\SearchInterface" type="Maginium\OrderApi\Actions\Search" />

    <!-- Set preference for OrderServiceInterface to use OrderService implementation -->
    <preference for="Maginium\OrderApi\Interfaces\GetByInterface" type="Maginium\OrderApi\Actions\GetBy" />

    <!-- Set preference for OrderServiceInterface to use OrderService implementation -->
    <preference for="Maginium\OrderApi\Interfaces\GetByIdInterface" type="Maginium\OrderApi\Actions\GetById" />

    <!-- Set preference for OrderServiceInterface to use OrderService implementation -->
    <preference for="Maginium\OrderApi\Interfaces\CreateInterface" type="Maginium\OrderApi\Actions\Save" />

    <!-- Set preference for OrderServiceInterface to use OrderService implementation -->
    <preference for="Maginium\OrderApi\Interfaces\UpdateInterface" type="Maginium\OrderApi\Actions\Update" />

    <!-- Set preference for OrderServiceInterface to use OrderService implementation -->
    <preference for="Maginium\OrderApi\Interfaces\DeleteInterface" type="Maginium\OrderApi\Actions\DeleteById" />
</config>
